{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *  <button id="open-webform-modal" class="btn btn-primary rounded-pill mt-auto">Contact Us Today</button>
 */
#}

{% set url = url('<current>') %}
{% set imgClass = (fields.field_image_1.content|striptags|trim is not empty) ? 'hero-bg-image hero-wrapper' : 'my-6 py-2' %}
{% set bgTrans = imgClass|split(" ") %}
{% set bgCheck = (bgTrans[0] == 'hero-bg-image') ? 'hero-bg-image-trans w-100 h-100' : 'w-100 h-100' %}
{% set buttonText = fields.field_cta.content|striptags|trim %}
{% set buttonLink = (buttonText == 'Contact Us Today') ? '/form/modal-multiselect' : '/es/page/contactenos' %}
<div class="{{ imgClass }}">
  <div class="{{ bgCheck }}">
    <div class="hero-content container g-0 overflow-hidden">
      <div class="hero-col py-5 px-4 px-sm-0 col-12 col-md-10 col-lg-8 col-xxl-6">
        {% if fields.title.content %}
          <div class="overline pb-3">{{ fields.title.content }}</div>
        {% endif %}
        {% if fields.field_heading.content %}
          <h1 class="hero-heading display-1">{{ fields.field_heading.content }}</h1>
        {% endif %}
        {% if fields.field_subheading.content %}
          <div class="hero-subheading pb-3">{{ fields.field_subheading.content }}</div>
        {% endif %}
        {% if (buttonText == 'Contact Us Today') or (buttonText == 'Contáctenos') %}
          <div class="pb-5">
            <a href="{{ buttonLink }}" class="btn btn-primary rounded-pill">
              {{ buttonText }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>